body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

main > * {
  /* max-width: 15rem; */
  flex: 1;
  
} 

.list-container {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.list-item, .big-list-item {
  border: solid 1px black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}